Repository gardener/ci-infra, pull requests merged in 2023-06, with the labels that each got.

#723 Add missing permissions for `kube-prometheus@v0.12.0` to `deployer` service account
  config/prow/cluster/bootstrap-trusted/trusted_serviceaccounts.yaml
Labels: kind/bug, size/XS, approved, lgtm, cla: yes

#724 Fix location of folder for tests of `gardener/gardener-extension-networking-calico`
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
Labels: kind/bug, size/XS, approved, lgtm, cla: yes

#746 Fix namespace of oauth2-proxy configmap generator
  config/prow/cluster/oauth2-proxy/kustomization.yaml
Labels: kind/bug, size/XS, approved, lgtm, cla: yes

#749 update fluent-bit container image to v2.1.4
  config/images/images.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#553 Added prow job for KinD based druid e2e
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/etcd-druid/druid-e2e-kind.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
  config/testgrids/config.yaml
Labels: kind/enhancement, size/M, approved, lgtm, cla: yes

#755 Fix krte image of etcd-druid periodic e2e-test
  config/jobs/etcd-druid/druid-e2e-kind.yaml
Labels: kind/bug, size/XS, approved, lgtm, cla: yes

#751 Update to Go 1.20.5 & 1.19.10
  Dockerfile
  Makefile
  images/golang-test/variants.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#763 Make gardener upgrade e2e tests mandatory
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-upgrade.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes
