Repository gardener/ci-infra, pull requests merged in 2023-02, with the labels that each got.

#570 Remove periodic single and multi-zone upgrade test jobs
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-62.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
Labels: kind/bug, size/L, approved, lgtm, cla: yes

#571 Create Go 1.20 test image
  images/golang-test/variants.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#573 Use strings for build variant names
  images/golang-test/variants.yaml
Labels: kind/bug, size/S, approved, lgtm, cla: yes

#587 Revert "Remove periodic single and multi-zone upgrade test jobs"
  config/jobs/gardener/gardener-e2e-kind-ha-multi-zone-upgrade.yaml
  config/jobs/gardener/gardener-e2e-kind-ha-single-zone-upgrade.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-63.yaml
  config/jobs/gardener/releases/gardener-gardener-release-v1-64.yaml
Labels: kind/test, size/L, approved, lgtm, cla: yes
