Repository gardener/ci-infra, pull requests merged in 2024-09, with the labels that each got.

#2315 Bump the memory limit for the {registry-cache,shoot-rsyslog-relp}-unit jobs from 2Gi to 3Gi
  config/jobs/gardener-extension-registry-cache/gardener-extension-registry-cache-unit-tests.yaml
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#2355 Update images for shoot-networking-filter to golang 1.23
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-e2e-kind.yaml
  config/jobs/gardener-extension-shoot-networking-filter/gardener-extension-shoot-networking-filter-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#2360 Update images for cert-management to golang 1.23
  config/jobs/cert-management/cert-management-e2e-kind.yaml
  config/jobs/cert-management/cert-management-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#2363 Fix prometheus VPA
  config/prow/cluster/monitoring/base-prow/prometheus.yaml
  config/prow/cluster/monitoring/build-cluster/prometheus_vpa.yaml
  config/prow/cluster/monitoring/trusted-cluster/prometheus_vpa.yaml
Labels: kind/bug, size/S, approved, lgtm, cla: yes

#2394 [discovery server] bump golang to 1.23
  config/jobs/gardener-discovery-server/gardener-discovery-server-e2e-kind.yaml
  config/jobs/gardener-discovery-server/gardener-discovery-server-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#2395 [shoot-oidc-service] bump golang to 1.23
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#2413 Update golang image for calico tests to 1.23
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#2414 Increase memory requests and limits for certain unit tests
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-unit-tests.yaml
Labels: kind/enhancement, size/S, approved, lgtm, cla: yes

#2391 Stop building dev images for `gardener/gardener-extension-shoot-rsyslog-relp`
  config/jobs/gardener-extension-shoot-rsyslog-relp/gardener-extension-shoot-rsyslog-relp-build-images.yaml
Labels: kind/cleanup, size/M, approved, lgtm, cla: yes

#2455 Add new aws-load-balancer-controller version
  config/images/images.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes
