Repository gardener/ci-infra, pull requests merged in 2025-04, with the labels that each got.

#3510 Run renovate disk cleanup script as `preCommand`
  deploy/renovate/renovate.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#3523 Increase resource requests for cilium e2e tests
  config/jobs/gardener-extension-networking-cilium/gardener-extension-networking-cilium-e2e-kind.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#3536 Copy registry:3.0.0
  config/images/images.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#3546 Add Prow Job for Etcd-Backup-Restore e2e tests
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/etcd-backup-restore/etcdbr-e2e-kind.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
  config/testgrids/config.yaml
Labels: kind/enhancement, size/M, approved, lgtm, cla: yes

#3567 Update golang version for calico tests.
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-e2e-kind.yaml
  config/jobs/gardener-extension-networking-calico/gardener-extension-networking-calico-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#3585 Add `gardener-extension-shoot-cert-service` repo to prow configs
  config/jobs/ci-infra/ci-infra-periodics.yaml
  config/jobs/common/issue-pr-lifecycle.yaml
  config/jobs/common/renovate-presubmits.yaml
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-unit-tests.yaml
  config/prow/config.yaml
  config/prow/labels.yaml
  config/prow/plugins.yaml
  config/testgrids/config.yaml
  deploy/renovate/renovate.yaml
Labels: kind/enhancement, size/L, approved, lgtm, cla: yes

#3609 [gardener-extension-shoot-cert-service] Add concourse jobs to `required_status_check`
  config/prow/config.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#3670 Bump go to 1.24 for shoot-oidc-service
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-e2e-kind.yaml
  config/jobs/extension-shoot-oidc-service/extension-shoot-oidc-service-unit-tests.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes
