Repository gardener/ci-infra, pull requests merged in 2025-06, with the labels that each got.

#3930 Enable e2e test for gardener-extension-shoot-cert-service
  config/jobs/extension-shoot-cert-service/extension-shoot-cert-service-e2e-kind.yaml
Labels: kind/enhancement, size/M, approved, lgtm, cla: yes

#3954 Include opentelemetry-operator into our AR
  config/images/images.yaml
Labels: kind/enhancement, size/XS, approved, lgtm, cla: yes

#4005 Enable tide and add e2e test
  config/jobs/cluster-api-provider-gardener/cluster-api-provider-gardener-e2e-kind.yaml
  config/prow/config.yaml
Labels: kind/enhancement, size/M, approved, lgtm, cla: yes

#4009 Add further cluster-api-provider-gardener configs
  config/prow/plugins.yaml
Labels: kind/enhancement, size/S, approved, lgtm, cla: yes
